!.github/
!.gitignore
!.golangci.yml
!.mise
!.mise/tasks
!*.go
!ci/
!go.mod
!go.sum
!hk.pkl
!justfile
!LICENSE
!Makefile
.release/
*.dll
*.dylib
*.exe
*.exe~
*.out
*.so
*.test
attic/
dist/
envrc.local
